.box1 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
  font-size: 40px;
  font-weight: bold;
  color: #1e90ff;
}
.button1 {
  background-color: #1e90ff;
  border: 2px solid #1e90ff;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 24px;
  position: relative;
  left: 960px;
  top: 10px;
}
.button2 {
  background-color: white;
  border: 2px solid #1e90ff;
  color: #1e90ff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 24px;
  position: relative;
  left: 1000px;
  top: 10px;
}
.div1 {
  position: relative;
  font-family: Roboto;
  font-size: 14px;
  line-height: 15px;
  margin: 10px;
}
.div2 {
  width: 27vw;
  height: 25vw;
  position: relative;
  border: 2px solid black;
  font-family: Roboto;
  font-size: 15px;
  line-height: 22px;
  margin: 10px;
  min-width: 400px;
}
.LeftBox {

  width: 50%;
  padding: 5% 0% 0% 8%;
}
#features {
  overflow-y: scroll;

}
html{
  width: 100%;
  overflow-x: hidden;
}

.div3 {
  text-align: center;
  width: 48%;
  border: black;
  position: absolute;
  top: 106px;
  left: 50%;
  padding-top: 10%;
  height: 130%;
}
#result img{
  margin-top: 20px;
  margin-bottom: 106px;
}
